classXML/quiz/wright-1022-rngtest/radio-RNGTest-1.rnc

start = xml
xml = element xml {heading, body} #11 - changed from heading or (|) body to heading then (,) body
heading = element heading {title, byline, listNames}
title = element title {text} #7 Changed from 'empty' to 'text'
byline = element byline {mixed{author, pubTitle, date}} #10 wrapped valid elements in a mixed{} tag
author = element author {text} 
pubTitle = element pubTitle {text} 
listNames = element listNames {person+, org+, tech+} #8 org -> org+
person = element person {role, id, name} #9 text -> name
org = element org {role, id, name}
tech = element tech {role, id, name, source}

role = attribute role {"investigator" | "navigator" | "pilot" | "search" | "flight" | "research" | "news"} #8 - changed from 'element' to 'attribute
id = attribute id {xsd:ID} #1 xsd:?? -> xsd:ID

name = element name {text}
source = element source {url, empty}
url = attribute url {xsd:anyURI} #2 xsd:?? -> xsd:anyURI

body = element body {intro, section+} #12 - added intro as a valid contained element
intro = element intro {p+}
section = element section {subtitle, p+} #13 - p to p+
subtitle = element subtitle {text} #3 - subtitle defined for section element
p = element p {mixed{(timelapse | date | place | mention | radioFreq | message)*}} #14 - wrapped elements in a mixed{}
radioFreq = element radioFreq {text}
timelapse = element timelapse {dur, text}
dur = attribute dur {xsd:duration} #5 - defined 'dur' for timelapse element
date = element date {when?, from?, to?, text} #16 - added "?" to when
when = attribute when {xsd:date | xsd:gYear} #4 - defined 'when' with xsd:date or gYear value
to = attribute to {xsd:date} #5 - defined 'to' for date element
from = attribute from {xsd:date} #6 - defined 'from' for date element
place = element place {text}
mention = element mention {ref, text} 
ref = attribute ref {xsd:IDREF}
message = element message {type?, text} #15 - added 'type?'
type= attribute type {text}












