classXML/homework/wright-1006-relaxng/recipeSchema-1.rnc

start = xml
xml = element xml {metadata, recipe}
metadata = element metadata {title, author, editor, source, time, yield} # allowed yield element in metadata
yield = element yield {text} # defined yield element
title = element title {text}
author = element author {id, text}
editor = element editor {id, text}
source = element source {mixed{url}} #changed from empty to allowing url element and text
time = element time {dur, text}
id = attribute id {xsd:ID}
url = attribute url {xsd:anyURI}
dur = attribute dur {xsd:duration}

recipe = element recipe {ingList, prep}
ingList = element ingList {heading, ing+}
heading = element heading {text}
ing = element ing {id, quant?, unit?, mixed{alt*}}
alt = element alt {quant, unit, text}
quant = attribute quant {xsd:float}
unit = attribute unit {"cup" | "T" | "t"  | "F" | "C" | "inch" | "pint"} #added pint as a valid measurement
prep = element prep {heading, step+} #changed step to "+" to allow more than one
step = element step {n, mixed{combine* & equip* & equipUse* & ingUse*}} #changed to & and added * to allow for more robust use within element
equip = element equip {id, mixed{(equip | equipUse | setting | time | temp | size)*}} #added size and temp as  valid elements to include in equip element
setting = element setting {text} # added setting element that is referred to in equip element
temp = element temp {quant, unit, text}
size = element size {depth, unit, text}
depth = attribute depth {xsd:float}
equipUse = element equipUse {ref, mixed{(temp | size | equip | equipUse | ingUse | setting | time)*}}
ingUse = element ingUse {ref, quant?, unit?, text} #allowed for quant and unit to be optional
ref = attribute ref {xsd:IDREFS}
combine = element combine {mixed{ref, ingUse?}} #allowed for ingUse to show up zero or once in combine element
n = attribute n {xsd:integer} # changed n to allow integers not in date format

#I added these comments after I had edited so I may have forgotten something.