classXML/homework/wright-1006-relaxng/recipeSchema-1.rnc

start = xml
xml = element xml {metadata, recipe}
metadata = element metadata {title, author, editor, source, time, yield}
yield = element yield {text}
title = element title {text}
author = element author {id, text}
editor = element editor {id, text}
source = element source {mixed{url}}
time = element time {dur, text}
id = attribute id {xsd:ID}
url = attribute url {xsd:anyURI}
dur = attribute dur {xsd:duration}

recipe = element recipe {ingList, prep}
ingList = element ingList {heading, ing+}
heading = element heading {text}
ing = element ing {id, quant?, unit?, mixed{alt*}}
alt = element alt {quant, unit, text}
quant = attribute quant {xsd:float}
unit = attribute unit {"cup" | "T" | "t"  | "F" | "C" | "inch" | "pint"}
prep = element prep {heading, step+}
step = element step {n, mixed{combine* & equip* & equipUse* & ingUse*}}
equip = element equip {id, mixed{(equip | equipUse | setting | time | temp | size)*}}
setting = element setting {text}
temp = element temp {quant, unit, text}
size = element size {depth, unit, text}
depth = attribute depth {xsd:float}
equipUse = element equipUse {ref, mixed{(temp | size | equip | equipUse | ingUse | setting | time)*}}
ingUse = element ingUse {ref, quant?, unit?, text}
ref = attribute ref {xsd:IDREFS}
combine = element combine {mixed{ref, ingUse?}}
n = attribute n {xsd:integer}